<page-header [title]="'profile.order_number' | i18n" [logo]="logo" [action]="action" [extra]="extra" [tab]="tab">
  <ng-template #logo>
    <img src="https://gw.alipayobjects.com/zos/rmsportal/nxkuOJlFJuAUhzlMTCEe.png" />
  </ng-template>
  <ng-template #action>
    <nz-button-group>
      <button nz-button>{{ 'profile.operation' | i18n }}</button>
      <button nz-button>{{ 'profile.operation' | i18n }}</button>
    </nz-button-group>
    <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
      <i nz-icon nzType="ellipsis"></i>
    </button>
    <nz-dropdown-menu #opMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>{{ 'profile.option_one' | i18n }}</li>
        <li nz-menu-item>{{ 'profile.option_two' | i18n }}</li>
        <li nz-menu-item>{{ 'profile.option_three' | i18n }}</li>
      </ul>
    </nz-dropdown-menu>
    <button nz-button [nzType]="'primary'">{{ 'profile.main_operation' | i18n }}</button>
  </ng-template>
  <ng-template #extra>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey">{{ 'profile.status' | i18n }}</p>
        <p class="text-lg">{{ 'profile.pending_approval' | i18n }}</p>
      </div>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey">{{ 'profile.order_amount' | i18n }}</p>
        <p class="text-lg">¥ 568.08</p>
      </div>
    </div>
  </ng-template>
  <ng-template #tab>
    <nz-tabset>
      <nz-tab [nzTitle]="'profile.details' | i18n" />
      <nz-tab [nzTitle]="'profile.rules' | i18n" />
    </nz-tabset>
  </ng-template>
  <sv-container size="small" col="2">
    <sv [label]="'profile.creator' | i18n">{{ 'profile.creator_name' | i18n }}</sv>
    <sv [label]="'profile.subscription_product' | i18n">{{ 'profile.service_name' | i18n }}</sv>
    <sv [label]="'profile.creation_time' | i18n">2017-07-07</sv>
    <sv [label]="'profile.related_documents' | i18n">
      <a (click)="msg.success('yes')">12421</a>
    </sv>
    <sv [label]="'profile.effective_date' | i18n">2017-07-07 ~ 2017-08-08</sv>
    <sv [label]="'profile.remarks' | i18n">{{ 'profile.remarks_text' | i18n }}</sv>
  </sv-container>
</page-header>
<nz-card [nzBordered]="false" class="mb-lg" [nzTitle]="'profile.process_progress' | i18n">
  <nz-steps [nzCurrent]="1" nzProgressDot>
    <nz-step [nzTitle]="'profile.create_project' | i18n" [nzDescription]="createDesc">
      <ng-template #createDesc>
        <div class="desc">
          <div class="my-sm">
            {{ 'profile.creator_name_short' | i18n }}
            <i nz-icon nzType="dingding" class="ml-sm"></i>
          </div>
          <div>2016-12-12 12:32</div>
        </div>
      </ng-template>
    </nz-step>
    <nz-step [nzTitle]="'profile.department_initial_review' | i18n" [nzDescription]="checkedDesc">
      <ng-template #checkedDesc>
        <div class="desc">
          <div class="my-sm">
            {{ 'profile.contact_person' | i18n }}
            <i nz-icon nzType="dingding" class="ml-sm" style="color: #00a0e9"></i>
          </div>
          <a (click)="msg.success('click')">{{ 'profile.urge' | i18n }}</a>
        </div>
      </ng-template>
    </nz-step>
    <nz-step [nzTitle]="'profile.financial_review' | i18n" />
    <nz-step [nzTitle]="'profile.complete' | i18n" />
  </nz-steps>
  <div class="steps-content"></div>
</nz-card>
<nz-card [nzBordered]="false" [nzTitle]="'profile.user_information' | i18n" class="mb-lg">
  <sv-container class="mb-lg">
    <sv [label]="'profile.user_name' | i18n">{{ 'profile.user_name_value' | i18n }}</sv>
    <sv [label]="'profile.membership_card_number' | i18n">32943898021309809423</sv>
    <sv [label]="'profile.id_card' | i18n">3321944288191034921</sv>
    <sv [label]="'profile.contact_information' | i18n">18112345678</sv>
    <sv [label]="'profile.contact_address' | i18n">{{ 'profile.contact_address_value' | i18n }}</sv>
  </sv-container>
  <sv-container class="mb-lg" [title]="'profile.information_group' | i18n">
    <sv [label]="'profile.some_data' | i18n">725</sv>
    <sv [label]="'profile.data_update_time' | i18n">2017-08-08</sv>
    <sv />
    <sv [label]="label">
      <ng-template #label>
        {{ 'profile.some_data' | i18n }}
        <i nz-tooltip [nzTooltipTitle]="'profile.data_description' | i18n" nz-icon nzType="info-circle"></i>
      </ng-template>
      725
    </sv>
    <sv [label]="'profile.data_update_time' | i18n">2017-08-08</sv>
  </sv-container>
  <h4 class="mb-md">{{ 'profile.information_group' | i18n }}</h4>
  <nz-card nzType="inner" [nzTitle]="'profile.information_group' | i18n">
    <sv-container size="small" [title]="'profile.group_name' | i18n">
      <sv [label]="'profile.responsible_person' | i18n">{{ 'profile.responsible_person_value' | i18n }}</sv>
      <sv [label]="'profile.role_code' | i18n">1234567</sv>
      <sv [label]="'profile.department' | i18n">{{ 'profile.department_value' | i18n }}</sv>
      <sv [label]="'profile.expiration_time' | i18n">2017-08-08</sv>
      <sv [label]="'profile.description' | i18n">{{ 'profile.description_value' | i18n }}</sv>
    </sv-container>
    <nz-divider />
    <sv-container size="small" [title]="'profile.group_name' | i18n" col="1">
      <sv [label]="'profile.scientific_name' | i18n"> Citrullus lanatus (Thunb.) Matsum. et
        {{ 'profile.scientific_description' | i18n }} </sv>
    </sv-container>
    <nz-divider />
    <sv-container size="small" [title]="'profile.group_name' | i18n">
      <sv [label]="'profile.responsible_person' | i18n">{{ 'profile.responsible_person_name' | i18n }}</sv>
      <sv [label]="'profile.role_code' | i18n">1234568</sv>
    </sv-container>
  </nz-card>
</nz-card>
<nz-card [nzBordered]="false" [nzTitle]="'profile.user_call_records' | i18n" class="mb-lg">
  <div class="no-data"><i nz-icon nzType="frown"></i>{{ 'profile.no_data' | i18n }}</div>
</nz-card>
<nz-card [nzBordered]="false">
  <nz-card-tab>
    <nz-tabset nzSize="large" (nzSelectChange)="change($event)">
      <nz-tab [nzTitle]="'profile.operation_log_one' | i18n" />
      <nz-tab [nzTitle]="'profile.operation_log_two' | i18n" />
      <nz-tab [nzTitle]="'profile.operation_log_three' | i18n" />
    </nz-tabset>
  </nz-card-tab>
  <st [columns]="opColumns" [data]="list">
    <ng-template st-row="status" let-i>
      @if (i.status === 'success') {
      <nz-badge nzStatus="success" [nzText]="'profile.success' | i18n" />
      } @else {
      <nz-badge nzStatus="processing" [nzText]="'profile.in_progress' | i18n" />
      }
    </ng-template>
  </st>
</nz-card>