@import '../../styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(1.75rem); //header-height 
    .menu-sidebar{
      min-height: fit-content !important;
    }
  }

  ::ng-deep div.layout-container > nb-sidebar {
    // transition: width 0.3s;
    transition: width 0.0s;
  }

  ::ng-deep nb-sidebar > div.main-container {
    // transition: opacity 0.3s;
    transition: opacity 0.0s;
  }




  
}


.logo-section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
  .company-logo {
    width: 133px;
    height: auto;
  }

  .menu-toggle {
    width: 20px;
    height: auto;
  }

  .nav-divider {
    margin: 11px 0;
    height: 1px;
    background-color: #cdd0d7;
  }