.user-details-container {
    h3 {
      margin-bottom: 15px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 10px;
      }
    }
  }
  
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .no-data {
    text-align: center;
    font-style: italic;
    color: gray;
  }
  