.header {
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px 12px 80px;
    font-family: Nunito, sans-serif;
  }

  @media (max-width: 991px) {
    .header {
      padding: 12px 20px;
    }
  }

  .time {
    color: #1774b4;
    display: flex;
    gap: 1px;
    align-items: baseline;
  }

  .hours {
    font-size: 24px;
    font-weight: 700;
  }

  .period {
    font-size: 13px;
    font-weight: 600;
  }

  .header-controls {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .language-switch {
    background-color: #d2d5da;
    border-radius: 100px;
    display: flex;
    gap: 14px;
    padding: 5px 4px;
    font-size: 12px;
    font-weight: 600;
  }

  .language-switch .active {
    background-color: #1774b4;
    color: #fff;
    border-radius: 100px;
    padding: 4px;
    width: 24px;
    height: 24px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(39, 39, 39, 0.1);
  }

  .arabic {
    color: #000;
    padding: 4px;
  }

  .notifications {
    width: 24px;
    height: 24px;
  }

  .profile {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .username {
    font-size: 14px;
    font-weight: 600;
    color: #1d1d1d;
  }