<nav class="nav-menu">
    <a href="#" class="nav-item">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/2a2579b63b4f5c702d3779a7deca59edef4416d69cfe938e1b85672a3bfc526b?placeholderIfAbsent=true&apiKey=62478f35ad184ca0a5100bed332f5e18" alt="" class="nav-icon" />
      <span>Home</span>
    </a>
    <a href="#" class="nav-item active">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dc253d550857857ac40558e3921e3e0513da9b5b7046bf470a42f8605c5755a1?placeholderIfAbsent=true&apiKey=62478f35ad184ca0a5100bed332f5e18" alt="" class="nav-icon" />
      <span>Tasks</span>
    </a>
    <a href="#" class="nav-item">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f6e03efa61be944e80b52f7e54507a8e0775617ae0805a20f59ed341979d7e3b?placeholderIfAbsent=true&apiKey=62478f35ad184ca0a5100bed332f5e18" alt="" class="nav-icon" />
      <span>Maps</span>
    </a>
    <a href="#" class="nav-item">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/10a7cc326c61b1c595b6e46ab2ccb9e267ab23e7eb10860d0f112336949ed3cf?placeholderIfAbsent=true&apiKey=62478f35ad184ca0a5100bed332f5e18" alt="" class="nav-icon" />
      <span>Live Monitoring</span>
    </a>
    <a href="#" class="nav-item">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/51ff737896808af085aa6ea48caad14d386ad587723547e97d3392f9578c6db9?placeholderIfAbsent=true&apiKey=62478f35ad184ca0a5100bed332f5e18" alt="" class="nav-icon" />
      <span>Components Overview</span>
    </a>
    <div class="nav-group">
      <div class="nav-group-header">
        <div class="nav-item">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9934e3e5ce4b642e06c04a1c464a448fdb42b14b58daa9189cd5d868433f1811?placeholderIfAbsent=true&apiKey=62478f35ad184ca0a5100bed332f5e18" alt="" class="nav-icon" />
          <span>User Management</span>
        </div>
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/95c5269f323af1b6e115a106b0c3a88f98678f0a3924ebefdf0b92d6d0934511?placeholderIfAbsent=true&apiKey=62478f35ad184ca0a5100bed332f5e18" alt="Expand" class="nav-expand" />
      </div>
      <div class="nav-group-header">
        <div class="nav-item">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/11009f0eb3a1a510fded315887721a2ed9f2b341a621e0b0d5bda64ed1043d2b?placeholderIfAbsent=true&apiKey=62478f35ad184ca0a5100bed332f5e18" alt="" class="nav-icon" />
          <span>Reports</span>
        </div>
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/95c5269f323af1b6e115a106b0c3a88f98678f0a3924ebefdf0b92d6d0934511?placeholderIfAbsent=true&apiKey=62478f35ad184ca0a5100bed332f5e18" alt="Expand" class="nav-expand" />
      </div>
    </div>
  </nav>