<div class="row">
  <div class="col-md-2" id="logoImg">
  </div>


</div>
<div class="row" id="logoImg2">
</div>


<table dir="rtl" align="center" border="1" cellspacing="2" cellpadding="5" width="100%">
  <tr>
    <th width="100%" style="font-size:25px;color: #6882ff;">تفاصيل المستخدم</th>
  </tr>
</table>

<br />
<table border="1" cellspacing="1" cellpadding="5" width="100%">
  <tr>
    <th width="25%" style="color:blue">اسم المستخدم</th>
    <td width="25%" style="font-size:19px;">{FullName}</td>
    <th width="25%" style="color:blue">البريد الإلكتروني</th>
    <td width="25%" style="font-size:19px;">{Email}</td>
  </tr>
  <tr>
    <th width="25%" style="color:blue">رقم الهوية</th>
    <td width="25%" style="font-size:19px;">{NationalId}</td>
    <th width="25%" style="color:blue">رقم الجوال</th>
    <td width="25%" style="font-size:19px;">{MobileNumber}</td>
  </tr>
  <tr>
    <th width="25%" style="color:blue">اسم المستخدم</th>
    <td width="25%" style="font-size:19px;">{Username}</td>
    <th width="25%" style="color:blue">تاريخ الميلاد</th>
    <td width="25%" style="font-size:19px;">{BirthDate}</td>
  </tr>
  <tr>
    <th colspan="4" align="center" style="color:blue">تفاصيل أخرى</th>
  </tr>
  <tr>
    <td colspan="4" style="font-size:14px;">{OtherDetails}</td>
  </tr>
</table>

<div>
  <p>مع تحيات فريق الدعم</p>
</div>


<br />
<div>
  مع تحيات أسيج – إدارة العناية بالعملاء
  <br />
  وفي حال اعتراضكم على نتيجة معالجة شكواكم فبإمكانكم التقدم بشكواكم الى إدارة حماية العملاء ب هئية التأمين من خلال الرابط:
  <br />
  <a href="https://care.ia.gov.sa/self-service">https://care.ia.gov.sa/self-service</a>
  <br />
  أو من خلال الاتصال بالرقم المجاني 8001240551<br />أو التقدم الى الأمانة العامة للجان الفصل في المنازعات والمخالفات التأمينية من خلال الرابط:
  <br />
  <a href="www.idc.gov.sa">www.idc.gov.sa</a>
  <br />
  <br />
  أو من خلال الاتصال بالرقم المجاني 8001240042
</div>


<br />

<div class="row">

  <div class="col-md-3" id="logoImg3" style="height: 310px; ">
  </div>
</div>

<div style="page-break-after:always"></div>
