<div class="invoice-header">
  
  <div>
    <p>{{SENDER_NAME}}<br>{{SENDER_ADDRESS}}</p>
    <strong>{{TO}}:</strong>
    <p>{{RECIPIENT_NAME}}<br>{{RECIPIENT_ADDRESS}}</p>
  </div>
</div>

<table class="invoice-table">
  <thead>
    <tr>
      <th>#</th>
      <th>{{TABLE_HEADER_DESCRIPTION}}</th>
      <th>{{TABLE_HEADER_QUANTITY}}</th>
      <th>{{TABLE_HEADER_UNIT_PRICE}}</th>
      <th>{{TABLE_HEADER_TOTAL}}</th>
    </tr>
  </thead>
  <tbody>
    {{INVOICE_ROWS}}
  </tbody>
</table>


<div class="invoice-footer">
  <p><strong>{{TOTAL_AMOUNT_TITLE}} :</strong> {{TOTAL_AMOUNT}}</p>
</div>
