@using KH.Dto.Models.EmailDto.Response
@model IEnumerable<ProductModel>
@* @model IEnumerable<dynamic> *@

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>$@product.Price</td>
                <td>@product.Quantity</td>
            </tr>
        }
    </tbody>
</table>
