


<nb-card class="m-0 p-0 mb-3 fs-4">
    <nb-card-header class="text-center">Cards Commponents</nb-card-header>
    <nb-card-body>
        <div class="row">

            <div class="col-md-6">
                <h5 class="card-title">Nebular</h5>

               

                <div class="row d-flex mb-2">

                    <div class="col-sm-12 d-flex flex-wrap mx-0 px-1">

                        <div class="col-md-2 d-flex flex-grow-1 mx-1">
                            <nb-card class="mb-1 h-100 w-100" status="primary" accent="info">
                                <nb-card-header class="text-center card-custom-header-light-blue pt-0 pb-0 mb-0 mt-0"
                                    translate>
                                    monitoring.id
                                </nb-card-header>
                                <nb-card-body class="px-2 pb-0 pt-1 mb-0">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/svgs/avatar.svg" class="img-prop me-1" alt="Offline Icon"
                                            style="width: 33px; height: 50px;" />

                                        <div>
                                            <p class="small  mb-1">
                                                <strong class="small">{{ 'monitoring.id' | translate }}:</strong>
                                                <span class="small ms-1">1053</span>
                                            </p>
                                            <p class="small  mb-1">
                                                <strong class="small">{{ 'monitoring.name' | translate }}:</strong>
                                                <span class="small ms-1">khalifa</span>
                                            </p>
                                            <p class="small  mb-1">
                                                <strong class="small">{{ 'monitoring.iqama' | translate
                                                    }}:</strong>
                                                <span class="small ms-1">2555555555</span>
                                            </p>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>

                        <div class="col-md-2 d-flex flex-grow-1 mx-1">
                            <nb-card class="mb-1 h-100 w-100" status="primary" accent="info">
                                <nb-card-header class="text-center card-custom-header-light-blue pt-0 pb-0 mb-0 mt-0"
                                    translate>
                                    monitoring.id
                                </nb-card-header>
                                <nb-card-body class="px-2 pb-0 pt-1 mb-0">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/svgs/avatar.svg" class="img-prop me-1" alt="Offline Icon"
                                            style="width: 33px; height: 50px;" />

                                        <div>
                                            <p class="small d-flex align-items-center mb-1">
                                                <img src="assets/svgs/over-speed.svg" alt="Type Icon"
                                                    style="width: 20px; height: 20px;" class="me-2" />
                                                <strong class="small">{{ 'monitoring.type' | translate }}:</strong>
                                                <span class="small ms-1">Sample Section</span>
                                            </p>
                                            <p class="small d-flex align-items-center mb-1">
                                                <img src="assets/svgs/over-speed.svg" alt="Time Icon"
                                                    style="width: 20px; height: 20px;" class="me-2" />
                                                <strong class="small">{{ 'monitoring.from-to' | translate
                                                    }}:</strong>
                                                <span class="small ms-1">20:45</span>
                                            </p>
                                            <p class="small d-flex align-items-center mb-1">
                                                <img src="assets/svgs/over-speed.svg" alt="Specialization Icon"
                                                    style="width: 20px; height: 20px;" class="me-2" />
                                                <strong class="small">{{ 'monitoring.specialization' | translate
                                                    }}:</strong>
                                                <span class="small ms-1">A1</span>
                                            </p>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>


                    </div>
                </div>
                <div class="row d-flex mb-2">

                    <div class="col-sm-12 d-flex flex-wrap mx-0 px-1">

                        <div class="col-md-2 d-flex flex-grow-1 mx-1">
                            <nb-card class="mb-1 h-100 w-100" status="primary" accent="info">
                                <nb-card-header class="text-center card-custom-header-light-blue pt-0 pb-0 mb-0 mt-0"
                                    translate>
                                    monitoring.id
                                </nb-card-header>
                                <nb-card-body class="px-2 pb-0 pt-1 mb-0">
                                    <div>
                                        <p class="small d-flex align-items-center mb-1">
                                            <img src="assets/svgs/teams-listXX.svg" alt="Battery Icon"
                                                style="width: 20px; height: 20px;" class="me-2" />
                                            <strong class="small">{{ 'monitoring.battary' | translate }}:</strong>
                                            <span class="small ms-1">100%</span>
                                        </p>
                                        <p class="small d-flex align-items-center mb-1">
                                            <img src="assets/svgs/location1.svg" alt="Tracked Icon"
                                                style="width: 20px; height: 20px;" class="me-2" />
                                            <strong class="small">{{ 'monitoring.tracked' | translate }}:</strong>
                                            <span class="small ms-1">10 min ago</span>
                                        </p>
                                        <p class="small d-flex align-items-center mb-1">
                                            <img src="assets/svgs/teams-list653.svg" alt="Connection Icon"
                                                style="width: 20px; height: 20px;" class="me-2" />
                                            <strong class="small">{{ 'monitoring.connected' | translate
                                                }}:</strong>
                                            <span class="small ms-1">25 min ago</span>
                                        </p>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>

                        <div class="col-md-2 d-flex flex-grow-1 mx-1">
                            <nb-card class="mb-1 h-100 w-100" status="primary" accent="info">
                                <nb-card-header class="text-center card-custom-header-light-blue pt-0 pb-0 mb-0 mt-0"
                                    translate>
                                    monitoring.id
                                </nb-card-header>
                                <nb-card-body class="px-2 pb-0 pt-1 mb-0">
                                    <div>
                                        <p class="small d-flex align-items-center mb-1">
                                            <img src="assets/svgs/over-speed.svg" alt="Speed Icon"
                                                style="width: 20px; height: 20px;" class="me-2" />
                                            <strong class="small">{{ 'monitoring.speed' | translate }}:</strong>
                                            <span class="small ms-1">Increased</span>
                                        </p>
                                        <p class="small d-flex align-items-center mb-1">
                                            <img src="assets/svgs/lost-tracking.svg" alt="Tracking Lost Icon"
                                                style="width: 20px; height: 20px;" class="me-2" />
                                            <strong class="small">{{ 'monitoring.tracking' | translate }}:</strong>
                                            <span class="small ms-1">Lost</span>
                                        </p>
                                        <p class="small d-flex align-items-center mb-1">
                                            <img src="assets/svgs/disconnected.svg" alt="Connection Lost Icon"
                                                style="width: 20px; height: 20px;" class="me-2" />
                                            <strong class="small">{{ 'monitoring.connection' | translate
                                                }}:</strong>
                                            <span class="small ms-1">Lost</span>
                                        </p>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>


                    </div>
                </div>


                <!-- if we add the h-100 the auto scroll for card will be gone -->
                <!-- card-custom class -- rounded-card class -->

                <p>takes most of the space</p>

                <nb-card class="mb-1 w-100">
                    <nb-card-body class="px-2 pb-1 pt-1 mb-0">
                        <div class="d-flex">
                            <!-- Image Section -->
                            <div class="d-flex flex-column align-items-center justify-content-center me-3"
                                style="flex-shrink: 0; min-width: 40px;">
                                <svg viewBox="0 0 35 40"
                                    style="width: 100%; max-width: 30px; height: auto; fill: #ff5722;">
                                    <!-- Example path data -->
                                    <path d="M10 20 L25 10 L40 20 L25 30 Z"></path>
                                </svg>
                                <p class="text-center mb-0" style="font-size: 0.6rem; line-height: 0.9rem;">
                                    <strong>Sequence</strong><br> 001
                                </p>
                            </div>
                            <!-- Content Section -->
                            <div class="flex-grow-1">
                                <div class="row">
                                    <!-- Column 1 -->
                                    <div class="col-6">
                                        <p class="mb-0" style="font-size: 0.6rem; line-height: 0.9rem;">
                                            <strong>Product Code:</strong> PRD12345<br>
                                            <strong>SKU:</strong> 6789<br>
                                            <strong>Category:</strong> Electronics<br>
                                            <strong>Description:</strong> High-performance gaming laptop<br>
                                            <strong>Manufacturer:</strong> TechGear Inc.<br>
                                            <strong>Customer Support:</strong> +1234567890<br>
                                            <strong>Warehouse Zone:</strong> Zone A<br>
                                            <strong>Location:</strong> Aisle 5, Shelf 3<br>
                                            <strong>Batch No:</strong> BATCH123
                                        </p>
                                    </div>
                                    <!-- Column 2 -->
                                    <div class="col-6">
                                        <p class="mb-0" style="font-size: 0.6rem; line-height: 0.9rem;">
                                            <strong>Serial Number:</strong> SN6789<br>
                                            <strong>Asset Tag:</strong> AST12345<br>
                                            <strong>Manufacture Date:</strong> 2023-11-21<br>
                                            <strong>Warranty Period:</strong> 2 Years<br>
                                            <strong>Expiry Date:</strong> 2025-11-21<br>
                                            <strong>Added to Inventory:</strong> 2023-11-21<br>
                                            <strong>Dispatched:</strong> 2023-11-22<br>
                                            <strong>Expected Delivery:</strong> 2023-11-25<br>
                                            <strong>Last Updated:</strong> 2023-11-23
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>

                <nb-card class="mb-3 card-custom">
                    <nb-card-body class="d-flex h-100 p-0">
                        <div class="flex-shrink-0 d-flex align-items-center justify-content-center">
                            <img src="https://via.placeholder.com/150" alt="Card Image"
                                class="img-fluid card-img-custom h-100" />
                        </div>
                        <div class="flex-grow-1 ms-3 d-flex flex-column h-100">
                            <div class="d-flex flex-row justify-content-between h-100 align-items-center">
                                <div class="flex-fill card-content-custom">
                                    <h5 class="card-title">NB Card title</h5>
                                    <p class="card-text">
                                        This is a wider card with supporting text below as a natural lead-in to
                                        additional content. This
                                        content
                                        is a little bit longer.
                                    </p>
                                </div>
                                <div class="flex-fill card-content-custom ms-3">
                                    <h5 class="card-title">Additional Content</h5>
                                    <p class="card-text">
                                        Here is some more content that goes into the second column. You can add more
                                        details or information
                                        here.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>

            </div>

            <div class="col-md-6">
                <h5 class="card-title">Bootstrap</h5>

                <div class="card mb-3 card-custom">
                    <div class="d-flex">
                        <div class="flex-shrink-0 d-flex align-items-center justify-content-center">
                            <img src="https://via.placeholder.com/150" alt="Card Image"
                                class="img-fluid card-img-custom" />
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <div class="d-flex">
                                <div class="flex-fill card-body card-content-custom">
                                    <h5 class="card-title">Flex Card title</h5>
                                    <p class="card-text">
                                        This is a wider card with supporting text below as a natural lead-in to
                                        additional content. This
                                        content
                                        is a little bit longer.
                                    </p>
                                </div>
                                <div class="flex-fill card-body card-content-custom">
                                    <h5 class="card-title">Additional Content</h5>
                                    <p class="card-text">
                                        Here is some more content that goes into the second column. You can add more
                                        details or information
                                        here.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p>Handles many props content</p>
                <div class="card mb-3 card-custom">
                    <div class="container-fluid">
                        <div class="d-flex">
                            <div class="flex-shrink-0 d-flex align-items-center justify-content-center">
                                <img src="https://via.placeholder.com/150" alt="Card Image"
                                    class="img-fluid card-img-custom" />
                            </div>
                            <!-- Content Section -->
                            <div class="flex-grow-1 ms-3">
                              
                                <div class="d-flex flex-column flex-md-row">
                                    <div class="flex-fill card-body card-content-custom">
                                        <p>
                                            <strong>Product Name:</strong> Premium Water Bottle <br>
                                            <strong>SKU:</strong> 16793076 <br>
                                            <strong>Category:</strong> Hydration Products <br>
                                            <strong>Brand:</strong> AquaPure <br>
                                            <strong>Price:</strong> $25.99 <br>
                                        </p>
                                    </div>
                                
                                    <div class="flex-fill card-body card-content-custom">
                                        <p class="">
                                            <strong>Stock Status:</strong> In Stock <br>
                                            <strong>Discount:</strong> 10% Off <br>
                                            <strong>Estimated Delivery:</strong> 3-5 Business Days <br>
                                            <strong>Date Added:</strong> 01-09, 12:19 <br>
                                        </p>
                                    </div>
                                </div>
                                <!-- <div class="d-flex flex-column flex-md-row">
                                    <div class="flex-fill card-body card-content-custom">
                                        <p>
                                            <strong>CCB:</strong> 16793076 <br>
                                            <strong>Phone Number:</strong> 9782649698\11 <br>
                                            <strong>Location:</strong> تحول إلى الوردية للأحقة <br>
                                            <strong>Water Friend:</strong> NwC Riyadh Water Friend <br>
                                            <strong>Contact:</strong> 0546976308 <br>
                                        </p>
                                    </div>

                                    <div class="flex-fill card-body card-content-custom">
                                        <p class="">
                                            <strong>Time Remaining:</strong> 05:10
                                            <strong>Status:</strong> SLA <br>
                                            <strong>Estimated Completion:</strong> 26-09, 05:10 <br>
                                            <strong>Assigned Date:</strong> 01-09, 12:19 <br>
                                        </p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </nb-card-body>
</nb-card>


<!-- Card Sizes -->
<nb-card>
    <nb-card-header>{{ '@cardSizes.header' | translate }}</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-6 mb-3">
                <nb-card size="tiny">
                    <nb-card-header>{{ '@cardSizes.tiny' | translate }}</nb-card-header>
                    <nb-card-body>{{ '@cardSizes.tinyBody' | translate }}</nb-card-body>
                </nb-card>
            </div>
            <div class="col-6 mb-3">
                <nb-card size="small">
                    <nb-card-header>{{ '@cardSizes.small' | translate }}</nb-card-header>
                    <nb-card-body>{{ '@cardSizes.smallBody' | translate }}</nb-card-body>
                </nb-card>
            </div>
            <div class="col-6 mb-3">
                <nb-card>
                    <nb-card-header>{{ '@cardSizes.regular' | translate }}</nb-card-header>
                    <nb-card-body>{{ '@cardSizes.regularBody' | translate }}</nb-card-body>

                </nb-card>
            </div>
            <div class="col-6 mb-3">
                <nb-card size="large">
                    <nb-card-header>{{ '@cardSizes.large' | translate }}</nb-card-header>
                    <nb-card-body>{{ '@cardSizes.largeBody' | translate }}</nb-card-body>

                    <div class="pt-0 pb-0  d-flex justify-content-center align-items-center">
                        <app-loading-spinner size="4rem"> </app-loading-spinner>
                    </div>
                </nb-card>
            </div>
            <div class="col-6 mb-3">
                <nb-card size="giant">
                    <nb-card-header>{{ '@cardSizes.giant' | translate }}</nb-card-header>
                    <nb-card-body>{{ '@cardSizes.giantBody' | translate }}</nb-card-body>

                    <div class="pt-0 pb-0  d-flex justify-content-center align-items-center">
                        <app-loading-spinner size="4rem"> </app-loading-spinner>
                    </div>
                </nb-card>
            </div>
        </div>
    </nb-card-body>
</nb-card>


<mat-card>
    <mat-card-header>
        <mat-card-title>Angular matrial with Input Card</mat-card-title>
        <mat-card-subtitle>Enter your details below</mat-card-subtitle>
    </mat-card-header>

    
    <mat-card-content>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Enter your name</mat-label>
                <input matInput placeholder="Your name" [(ngModel)]="name" name="name">
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </mat-card-actions>
</mat-card>
