<page-header [title]="'profile.basic_details_page' | i18n" />
<nz-card [nzHoverable]="true" [nzBordered]="false">
  <sv-container size="large" [title]="'profile.refund_application' | i18n">
    <sv [label]="'profile.pickup_order_number' | i18n">1000000000</sv>
    <sv [label]="'profile.status' | i18n">{{ 'profile.picked_up' | i18n }}</sv>
    <sv [label]="'profile.sales_order_number' | i18n">1234123421</sv>
    <sv [label]="'profile.sub_order' | i18n">3214321432</sv>
  </sv-container>
  <nz-divider />
  <sv-container size="large" [title]="'profile.user_information' | i18n">
    <sv [label]="'profile.user_name' | i18n">User Name</sv>
    <sv [label]="'profile.contact_phone' | i18n">18100000000</sv>
    <sv [label]="'profile.common_express' | i18n">Express Service</sv>
    <sv [label]="'profile.pickup_address' | i18n">18 Wantang Road, Xihu District, Hangzhou, Zhejiang Province</sv>
    <sv [label]="'profile.remarks' | i18n">{{ 'profile.none' | i18n }}</sv>
  </sv-container>
  <nz-divider />
  <div class="text-lg mb-md">{{ 'profile.return_goods' | i18n }}</div>
  <st #st [data]="goods" [columns]="goodsColumns" [body]="goodsBody" [page]="{ show: false }">
    <ng-template #goodsBody>
      <tr>
        <td>{{ 'profile.total' | i18n }}</td>
        <td></td>
        <td></td>
        <td class="text-right"></td>
        <td class="text-right">
          <strong>{{ basicNum }}</strong>
        </td>
        <td class="text-right">
          <strong>{{ amountNum | price }}</strong>
        </td>
      </tr>
    </ng-template>
  </st>
  <div class="text-lg my-md">{{ 'profile.return_progress' | i18n }}</div>
  <st [data]="progress" [columns]="progressColumns" [page]="{ show: false }" />
</nz-card>