<div id="vignette"></div>
<div id="overlay">
  <!-- <div class="header">
    <div class="title" id="main-title">{{ (translationScope() ? translationScope() + '.' : '') + currentTitleKey | transloco }}</div>
    <div class="status-pill" id="status-text" [style.color]="statusColor" [style.borderColor]="statusColor">
      {{ (translationScope() ? translationScope() + '.' : '') + currentStatusKey | transloco }}
    </div>
  </div> -->
  <div class="hud-bottom">
    <div>
      <!-- <div class="metric">{{ (translationScope() ? translationScope() + '.' : '') + 'singularity_hud_mass' | transloco }}: <span class="val" [style.color]="statusColor">4.2M SOL</span></div> -->
      <!-- <div class="metric">{{ (translationScope() ? translationScope() + '.' : '') + 'singularity_hud_lensing' | transloco }}: <span class="val" id="lensing-val" [style.color]="statusColor">SCHWARZSCHILD</span></div> -->
    </div>
    <div style="text-align: right">
      <!-- <div class="metric">{{ (translationScope() ? translationScope() + '.' : '') + 'singularity_hud_relativity' | transloco }}: <span class="val" id="vel-val" [style.color]="statusColor">{{ currentVel }}</span></div> -->
      <!-- <div class="metric">{{ (translationScope() ? translationScope() + '.' : '') + 'singularity_hud_radiation' | transloco }}: <span class="val" [style.color]="statusColor">{{ (translationScope() ? translationScope() + '.' : '') + 'singularity_hud_detection_on' | transloco }}</span></div> -->
    </div>
  </div>
</div>

<canvas #singularityCanvas></canvas>
