<page-header [title]="'table.query_table' | i18n" />
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="no">{{ 'table.rule_number' | i18n }}</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.no" name="no" [placeholder]="'table.please_enter' | i18n" id="no" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status">{{ 'table.usage_status' | i18n }}</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.status" name="status" id="status" [nzPlaceHolder]="'table.please_select' | i18n"
              [nzShowSearch]="true">
              @for (i of status; track $index) {
              <nz-option [nzLabel]="i.text" [nzValue]="$index" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      @if (expandForm) {
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="callNo">{{ 'table.call_count' | i18n }}</nz-form-label>
          <nz-form-control>
            <input nz-input id="callNo" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="updatedAt">{{ 'table.update_date' | i18n }}</nz-form-label>
          <nz-form-control>
            <nz-date-picker id="updatedAt" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status2">{{ 'table.usage_status' | i18n }}</nz-form-label>
          <nz-form-control>
            <nz-select [nzPlaceHolder]="'table.please_select' | i18n" nzId="status2" [nzShowSearch]="true">
              @for (i of status; track $index) {
              <nz-option [nzLabel]="i.text" [nzValue]="$index" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status3">{{ 'table.usage_status' | i18n }}</nz-form-label>
          <nz-form-control>
            <nz-select [nzPlaceHolder]="'table.please_select' | i18n" nzId="status3" [nzShowSearch]="true">
              @for (i of status; track $index) {
              <nz-option [nzLabel]="i.text" [nzValue]="$index" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      }
      <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">{{ 'table.query' | i18n }}</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">{{ 'table.reset' | i18n }}</button>
        <a (click)="expandForm = !expandForm">
          {{ expandForm ? ('table.collapse' | i18n) : ('table.expand' | i18n) }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a>
      </div>
    </div>
  </form>
  <button nz-button (click)="add(modalContent)" [nzType]="'primary'">
    <i nz-icon nzType="plus"></i>
    <span>{{ 'table.new' | i18n }}</span>
  </button>
  @if (selectedRows.length > 0) {
  <button nz-button>{{ 'table.batch_operations' | i18n }}</button>
  <button nz-button nz-dropdown [nzDropdownMenu]="batchMenu" nzPlacement="bottomLeft">
    {{ 'table.more_operations' | i18n }}
    <i nz-icon nzType="down"></i>
  </button>
  <nz-dropdown-menu #batchMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="remove()">{{ 'table.delete' | i18n }}</li>
      <li nz-menu-item (click)="approval()">{{ 'table.batch_approval' | i18n }}</li>
    </ul>
  </nz-dropdown-menu>
  }
  <div class="my-md">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
      <ng-template #message>
        {{ 'table.selected' | i18n }}
        <strong class="text-primary">{{ selectedRows.length }}</strong> {{ 'table.items' | i18n }}&nbsp;&nbsp; {{
        'table.service_call_total' | i18n }} <strong>{{ totalCallNo
          }}</strong> {{ 'table.ten_thousand' | i18n }}
        @if (totalCallNo > 0) {
        <a (click)="st.clearCheck()" class="ml-lg">{{ 'table.clear' | i18n }}</a>
        }
      </ng-template>
    </nz-alert>
  </div>
  <st #st [columns]="columns" [data]="data" [loading]="loading" (change)="stChange($event)">
    <ng-template st-row="status" let-i>
      <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText" />
    </ng-template>
  </st>
</nz-card>
<ng-template #modalContent>
  <nz-form-item>
    <nz-form-label nzFor="no">{{ 'table.description' | i18n }}</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="description" name="description" [placeholder]="'table.please_enter' | i18n"
        id="no" />
    </nz-form-control>
  </nz-form-item>
</ng-template>