
  [dir="rtl"] ul[nz-menu].ant-menu-inline {
    direction: rtl !important;
  }
  
  [dir="rtl"] ul[nz-menu].ant-menu-inline .ant-menu-item,
  [dir="rtl"] ul[nz-menu].ant-menu-inline .ant-menu-submenu-title {
    display: flex !important;
    justify-content: flex-start !important;
    text-align: right !important;
  }
  
  .ant-menu-rtl .ant-menu-item .ant-menu-item-icon,
.ant-menu-rtl .ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-rtl .ant-menu-item .anticon,
.ant-menu-rtl .ant-menu-submenu-title .anticon {
  margin-right: 5px !important; /* Reduce space on the right */
  margin-left: 5px !important;  /* Maintain consistent spacing on the left */
  padding: 0 !important;       /* Remove unnecessary padding */
}
