<nz-list nzItemLayout="horizontal">
  <nz-list-item [nzActions]="[passwordOp]">
    <ng-template #passwordOp>
      <a (click)="msg.success('Edit')">{{ 'security.modify' | i18n }}</a>
    </ng-template>
    <nz-list-item-meta [nzTitle]="'security.account_password' | i18n" [nzDescription]="passwordDesc">
      <ng-template #passwordDesc> {{ 'security.current_password_strength' | i18n }}：<span class="text-green">{{
          'security.strong' | i18n }}</span> </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[phoneOp]">
    <ng-template #phoneOp>
      <a (click)="msg.success('Edit')">{{ 'security.modify' | i18n }}</a>
    </ng-template>
    <nz-list-item-meta [nzTitle]="'security.security_phone' | i18n" [nzDescription]="phoneDesc">
      <ng-template #phoneDesc> {{ 'security.bound_phone' | i18n }}：159****2231 </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[questionOp]">
    <ng-template #questionOp>
      <a (click)="msg.success('Edit')">{{ 'security.modify' | i18n }}</a>
    </ng-template>
    <nz-list-item-meta [nzTitle]="'security.security_question' | i18n" [nzDescription]="questionDesc">
      <ng-template #questionDesc> {{ 'security.no_security_question_set' | i18n }} </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[emailOp]">
    <ng-template #emailOp>
      <a (click)="msg.success('Edit')">{{ 'security.modify' | i18n }}</a>
    </ng-template>
    <nz-list-item-meta [nzTitle]="'security.backup_email' | i18n" [nzDescription]="emailDesc">
      <ng-template #emailDesc> {{ 'security.bound_email' | i18n }}：cip*****.com </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[mfaOp]">
    <ng-template #mfaOp>
      <a (click)="msg.success('Edit')">{{ 'security.modify' | i18n }}</a>
    </ng-template>
    <nz-list-item-meta [nzTitle]="'security.mfa_device' | i18n" [nzDescription]="mfaDesc">
      <ng-template #mfaDesc> {{ 'security.no_mfa_device_bound' | i18n }} </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>