<nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null">
  <div class="sidebar-logo">
    <a href="https://ng.ant.design/" target="_blank">
      <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
      <h1>WFM</h1>
    </a>
  </div>
  <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/welcome">Welcome</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a>Monitor</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a>Workplace</a>
        </li>
      </ul>
    </li>
    <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a>Basic Form</a>
        </li>
      </ul>
    </li>
  </ul>
</nz-sider>
<nz-layout>
  <nz-header>
    <div class="app-header d-flex justify-content-between align-items-center">
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
      </span>
      <div class="user-profile d-flex align-items-center mx-2">
        <img src="https://via.placeholder.com/32" alt="User" class="profile-image rounded-circle mx-2" />
       
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <a (click)="logout()">Logout</a>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item nzDisabled>3rd menu item（disabled）</li>
          </ul>
        </nz-dropdown-menu>
        <a nz-dropdown [nzDropdownMenu]="menu">
          <span class="user-name">John Doe</span>
          <span nz-icon nzType="down"></span>
        </a>

      </div>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div class="mt-5">
        <button (click)="switchLanguage('en_US')">English</button>
        <button (click)="switchLanguage('ar_EG')">Arabic</button>
      </div>

      <!-- <app-language-switcher></app-language-switcher> -->
      
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>