<div class="text-center pb-lg">
  <h1 class="py-md mt-sm">{{ 'helpcenter.title' | i18n }}</h1>
  <div>{{ 'helpcenter.subtitle' | i18n }}</div>
</div>
<div class="text-center">
  <nz-input-group nzCompact nzSize="large">
    <input [(ngModel)]="q" [placeholder]="'helpcenter.search_placeholder' | i18n" style="width: 50%" nz-input />
    <nz-select [(ngModel)]="type" nzSize="large" style="width: 20%">
      <nz-option [nzLabel]="'helpcenter.all_categories' | i18n" [nzValue]="''" />
      <nz-option [nzLabel]="'helpcenter.elastic_computing' | i18n" [nzValue]="'弹性计算'" />
      <nz-option [nzLabel]="'helpcenter.storage_cdn' | i18n" [nzValue]="'存储与CDN'" />
      <nz-option [nzLabel]="'helpcenter.member_service' | i18n" [nzValue]="'会员服务'" />
      <nz-option [nzLabel]="'helpcenter.database' | i18n" [nzValue]="'数据库'" />
    </nz-select>
    <button nz-button [nzType]="'primary'" (click)="search()" nzSize="large">
      <span>{{ 'helpcenter.search' | i18n }}</span>
    </button>
  </nz-input-group>
  <div class="py-sm text-grey-dark">
    {{ 'helpcenter.hot_keywords' | i18n }}：
    <a class="ml-sm" (click)="quick('远程连接服务器')">{{ 'helpcenter.remote_server_connection' | i18n }}</a>
    <a class="ml-sm" (click)="quick('挂载数据盘')">{{ 'helpcenter.mount_data_disk' | i18n }}</a>
    <a class="ml-sm" (click)="quick('域名解析')">{{ 'helpcenter.domain_resolution' | i18n }}</a>
    <a class="ml-sm" (click)="quick('域名实名认证')">{{ 'helpcenter.domain_verification' | i18n }}</a>
    <a class="ml-sm" (click)="quick('账号实名认证')">{{ 'helpcenter.account_verification' | i18n }}</a>
    <a class="ml-sm" (click)="quick('忘记密码')">{{ 'helpcenter.forgot_password' | i18n }}</a>
  </div>
</div>
<nz-row [nzGutter]="16" class="py-lg">
  <nz-col [nzXs]="12" [nzMd]="8">
    <nz-card>
      <a (click)="msg.info('弹性计算')" class="d-block text-center text-primary">
        <i nz-icon nzType="rocket" class="display-1 mb-md"></i>
        <h2 class="mb0">{{ 'helpcenter.elastic_computing' | i18n }}</h2>
      </a>
    </nz-card>
  </nz-col>
  <nz-col [nzXs]="12" [nzMd]="8">
    <nz-card>
      <a (click)="msg.info('存储与CDN')" class="d-block text-center text-red">
        <i nz-icon nzType="hdd" class="display-1 mb-md"></i>
        <h2 class="mb0">{{ 'helpcenter.storage_cdn' | i18n }}</h2>
      </a>
    </nz-card>
  </nz-col>
  <nz-col [nzXs]="12" [nzMd]="8">
    <nz-card>
      <a (click)="msg.info('会员服务')" class="d-block text-center text-orange">
        <i nz-icon nzType="user" class="display-1 mb-md"></i>
        <h2 class="mb0">{{ 'helpcenter.member_service' | i18n }}</h2>
      </a>
    </nz-card>
  </nz-col>
  <nz-col [nzXs]="12" [nzMd]="8">
    <nz-card>
      <a (click)="msg.info('数据库')" class="d-block text-center text-purple">
        <i nz-icon nzType="database" class="display-1 mb-md"></i>
        <h2 class="mb0">{{ 'helpcenter.database' | i18n }}</h2>
      </a>
    </nz-card>
  </nz-col>
  <nz-col [nzXs]="12" [nzMd]="8">
    <nz-card>
      <a (click)="msg.info('域名与网站')" class="d-block text-center text-cyan">
        <i nz-icon nzType="api" class="display-1 mb-md"></i>
        <h2 class="mb0">{{ 'helpcenter.domain_website' | i18n }}</h2>
      </a>
    </nz-card>
  </nz-col>
  <nz-col [nzXs]="12" [nzMd]="8">
    <nz-card>
      <a (click)="msg.info('网络')" class="d-block text-center text-teal">
        <i nz-icon nzType="global" class="display-1 mb-md"></i>
        <h2 class="mb0">{{ 'helpcenter.network' | i18n }}</h2>
      </a>
    </nz-card>
  </nz-col>
  <nz-col [nzXs]="12" [nzMd]="8">
    <nz-card>
      <a (click)="msg.info('应用服务')" class="d-block text-center text-pink">
        <i nz-icon nzType="appstore" class="display-1 mb-md"></i>
        <h2 class="mb0">{{ 'helpcenter.application_service' | i18n }}</h2>
      </a>
    </nz-card>
  </nz-col>
  <nz-col [nzXs]="12" [nzMd]="8">
    <nz-card>
      <a (click)="msg.info('开发者工具')" class="d-block text-center text-success">
        <i nz-icon nzType="tool" class="display-1 mb-md"></i>
        <h2 class="mb0">{{ 'helpcenter.developer_tools' | i18n }}</h2>
      </a>
    </nz-card>
  </nz-col>
</nz-row>