<page-header [title]="'form.basic_form' | i18n"> {{ 'form.basic_form_description' | i18n }} </page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
    <se [label]="'form.title' | i18n" [error]="'form.please_enter_title' | i18n" required>
      <input nz-input formControlName="title" [placeholder]="'form.give_target_name' | i18n" />
    </se>
    <se [label]="'form.start_end_date' | i18n" [error]="'form.please_enter_title' | i18n" required>
      <nz-range-picker formControlName="date" />
    </se>
    <se [label]="'form.target_description' | i18n" [error]="'form.please_enter_target_description' | i18n" required>
      <textarea nz-input formControlName="goal" [nzAutosize]="{ minRows: 4 }"
        [placeholder]="'form.please_enter_your_stage_work_goal' | i18n"></textarea>
    </se>
    <se [label]="'form.measurement_standard' | i18n" [error]="'form.please_enter_measurement_standard' | i18n" required>
      <textarea nz-input formControlName="standard" [nzAutosize]="{ minRows: 4 }"
        [placeholder]="'form.please_enter_measurement_standard' | i18n"></textarea>
    </se>
    <se [label]="'form.client' | i18n" [optionalHelp]="'form.target_service_object' | i18n"
      [error]="'form.please_enter_measurement_standard' | i18n">
      <input nz-input formControlName="client" [placeholder]="'form.please_describe_your_service_client' | i18n" />
    </se>
    <se [label]="'form.invite_reviewer' | i18n">
      <input nz-input formControlName="invites" [placeholder]="'form.please_directly_name_employee_number' | i18n" />
    </se>
    <se [label]="'form.weight' | i18n">
      <nz-input-number formControlName="weight" />
      <em>%</em>
    </se>
    <se [label]="'form.target_public' | i18n" [extra]="'form.client_invite_reviewer_default_shared' | i18n">
      <nz-radio-group formControlName="public">
        <label nz-radio [nzValue]="1">{{ 'form.public' | i18n }}</label>
        <label nz-radio [nzValue]="2">{{ 'form.partially_public' | i18n }}</label>
        <label nz-radio [nzValue]="3">{{ 'form.not_public' | i18n }}</label>
      </nz-radio-group>
      @if (form.value.public === 2) {
      <input nz-input formControlName="publicUsers" [placeholder]="'form.public_to' | i18n" />
      }
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">{{
        'form.submit' | i18n }}</button>
      <button nz-button class="ml-sm">{{ 'form.save' | i18n }}</button>
    </se>
  </form>
</nz-card>