  <nb-card class="m-0 p-0 mb-3 fs-4">
    <nb-card-header class="text-center">{{ '@cardSizes.icons' | translate }}</nb-card-header>
    <nb-card-body>

      <div class="row">
        <div class="col-md-10">

            <img nbTooltip="This is a tooltip" nbTooltipPlacement="bottom" src="assets/svgs/avatar.svg"
              class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/tasklist.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/cloak1.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/cloak2.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/cloak3.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/cloak4.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/cloak5.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/cloak6.svg" class="small-icon m-2" alt="Icon" />
            
            <img src="assets/svgs/clear-24px.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/cloud_done-24px.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/cloud_upload-24px.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/file_copy-24px.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/locatioIcon1.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/locatioIcon2.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/locatioIcon3.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/locatioIcon5.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/location1.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/location2.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/shift.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/target2.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/target42.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/target43.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/target44.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/target45.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/target46.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/targetBlack.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/targetIcon.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list1.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list2.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list3.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list32.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list343.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list43.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list432.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list4343.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list5.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list6.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list653.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list7.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list8.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list88.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list88XXX.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list898.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list9.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-list99.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-listXX.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/teams-listre.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/warrningIcon.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/workerout.svg" class="small-icon m-2" alt="Icon" />
        
            <img src="assets/svgs/lost-tracking.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/lost-tracking2.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/over-speed.svg" class="small-icon m-2" alt="Icon" />
            <img src="assets/svgs/disconnected.svg" class="small-icon m-2" alt="Icon" />

            <hr />
          </div>
      </div>
    
      <div>
        <!-- All Eva Icons with Ghost Buttons (Icons Only) -->
        <section>
          <h3>All Eva Icons with Ghost Buttons</h3>
      
          <button nbButton appearance="ghost" status="primary">
            <nb-icon icon="activity-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="success">
            <nb-icon icon="alert-circle-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="info">
            <nb-icon icon="archive-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="warning">
            <nb-icon icon="arrow-back-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="danger">
            <nb-icon icon="arrow-circle-down-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="primary">
            <nb-icon icon="arrow-circle-up-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="success">
            <nb-icon icon="arrow-down-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="info">
            <nb-icon icon="arrow-forward-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="warning">
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="danger">
            <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="primary">
            <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="success">
            <nb-icon icon="arrow-ios-upward-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="info">
            <nb-icon icon="arrow-left-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="warning">
            <nb-icon icon="arrow-right-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="danger">
            <nb-icon icon="arrow-up-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="primary">
            <nb-icon icon="at-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="success">
            <nb-icon icon="attach-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="info">
            <nb-icon icon="award-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="warning">
            <nb-icon icon="backspace-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="danger">
            <nb-icon icon="bar-chart-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="primary">
            <nb-icon icon="battery-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="success">
            <nb-icon icon="bell-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="info">
            <nb-icon icon="bluetooth-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="warning">
            <nb-icon icon="book-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="danger">
            <nb-icon icon="bookmark-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="primary">
            <nb-icon icon="briefcase-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="success">
            <nb-icon icon="calendar-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="info">
            <nb-icon icon="camera-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="warning">
            <nb-icon icon="car-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="danger">
            <nb-icon icon="cast-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="primary">
            <nb-icon icon="charging-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="success">
            <nb-icon icon="checkmark-circle-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="info">
            <nb-icon icon="checkmark-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="warning">
            <nb-icon icon="checkmark-square-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="danger">
            <nb-icon icon="chevron-down-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="primary">
            <nb-icon icon="chevron-left-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="success">
            <nb-icon icon="chevron-right-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="info">
            <nb-icon icon="chevron-up-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="warning">
            <nb-icon icon="clipboard-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="danger">
            <nb-icon icon="clock-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="primary">
            <nb-icon icon="close-circle-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="success">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="info">
            <nb-icon icon="close-square-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="warning">
            <nb-icon icon="cloud-download-outline"></nb-icon>
          </button>
          <button nbButton appearance="ghost" status="danger">
            <nb-icon icon="cloud-upload-outline"></nb-icon>
          </button>
        </section>
      </div>
      

      <div>
        <!-- Example Usage with Buttons -->
        <section>
          <h3>Eva Icons with animation</h3>

          <nb-icon [options]="{ animation: { type: 'shake' } }" icon="download-outline"></nb-icon>
          <nb-icon [options]="{ animation: { type: 'shake' } }" icon="download"></nb-icon>
          <nb-icon [options]="{ animation: { type: 'shake' } }" icon="trash-2-outline"></nb-icon>
          <nb-icon [options]="{ animation: { type: 'shake' } }" icon="trash-2"></nb-icon>
          <nb-icon [options]="{ animation: { type: 'shake' } }" icon="plus-square-outline"></nb-icon>
          <nb-icon [options]="{ animation: { type: 'shake' } }" icon="plus-square"></nb-icon>
      
          <nb-icon [options]="{ animation: { type: 'shake' } }" icon="close-square-outline"></nb-icon>
          <nb-icon [options]="{ animation: { type: 'shake' } }" icon="corner-down-left-outline"></nb-icon>
          <nb-icon [options]="{ animation: { type: 'shake' } }" icon="checkmark-square-2-outline"></nb-icon>
          <h3>Icons with Buttons</h3>
      
          <!-- Primary Button with Icon -->
          <button nbButton status="primary">
            <nb-icon icon="download-outline"></nb-icon>
            Download
          </button>
      
          <!-- Ghost Button with Icon -->
          <button nbButton status="danger" appearance="ghost">
            <nb-icon icon="trash-2-outline"></nb-icon>
            Delete
          </button>
      
          <!-- Icon Button -->
          <button nbButton hero>
            <nb-icon icon="plus-square-outline"></nb-icon>
            Add
          </button>
        </section>
      
        <!-- Example Usage with Ghost Buttons -->
        <section>
          <h3>Ghost Buttons with Icons</h3>
      
          <!-- Ghost Button with Icon (Download) -->
          <button nbButton appearance="ghost" status="success">
            <nb-icon icon="download-outline"></nb-icon>
            Save
          </button>
      
          <!-- Ghost Button with Icon (Trash) -->
          <button nbButton appearance="ghost" status="warning">
            <nb-icon icon="trash-2"></nb-icon>
            Remove
          </button>
      
          <!-- Ghost Button with Icon (Plus) -->
          <button nbButton appearance="ghost" status="info">
            <nb-icon icon="plus-square"></nb-icon>
            Add Item
          </button>
        </section>
      </div>

    </nb-card-body>


</nb-card>